


body{
    background-color: #5FBB68;
    /* background-image: url('/images/grocery-store.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;  */
}

.cart{
    /* background-color: rgb(96, 174, 96); */
    text-align: center;
    color: black;
    font-weight: 20px;
    font-size: 10px;
    height: 10vh;
    margin-top: -2%; 
    margin-bottom: 15%;
}
.cart h2{
    padding-top: 5%;
    font-size: 300%;
}

.fruits .image{
    width: 15%;
    height: 10%;
    border: solid 1px transparent ;
    background-color: white;
    border-radius: 10%;
}
.fruits .image2{
    width: 15%;
    height: 35vh;
    border: solid 1px transparent ;
    background-color: white;
    border-radius: 10%;
}
/* .cabbage{
    margin-top: 10%;
} */
.banana{
    display: flex;
    gap: 2rem;
    width: 70%;
    height: 40vh;
    border: solid 1px transparent ;
    background-color: white;
    border-radius: 5.5%;
    
}
.cabbage{
    display: flex;
    gap: 2rem;
    width: 70%;
    height: 40vh;
    border: solid 1px transparent ;
    background-color: white;
    border-radius: 5%;
     margin-top: 6%; 
}
.orders{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    border: solid 1px white;
    width: 30%;
    height: 40vh;
    background-color: white;
    margin-left: 35%;
    border-radius: 10px;
    /* text-align: right; */
    
}
.orders .words{
    margin-left: 10%;
    padding-top: 40px;
}
.orders .numbers{
    margin-right: 10%;
    padding-top: 40px;
}
.but-order{
    background-color: yellow;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
    margin-bottom: 20px;
    
    
}

.add1{
    /* margin-left: 50%;  */
   margin-top: 35%;

}
.add2{
    margin-top: 35%;
}
.bx bx-message-rounded-add{
    width: 60%;
    height: 60%;
}
.bx bx-message-rounded-minus{
    width: 60%;
    height: 60%;
}
/* .ban{
    display: flex;
} */
.partimg{
    border: solid 1px white;
    width: 55%;
    height: 15vh;
    /* padding: 10px 2px 5px; */
    background-color: white;
    border-radius: 30px;
    margin-left: 8%;  
}
.partimg:hover{
    cursor: pointer;
    background-color: yellow;

}
 .payment{

    margin-left: 10%;
    

}
.payment h1{
    margin-left: 10%;
    color:wheat;
}
.payment h2{
    font-weight: 100px;
    font-size: 40px;
    color:whitesmoke;
    
}
.but2{
    background-color: white;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 14%;

    animation-name: slideInLeft; 
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
    
}
.but2:hover{
    cursor: pointer;
    background-color: yellow;
}



@keyframes slideInLeft {
    from {
      transform: translateX(-100%); 
      opacity: 0;
    }
    to {
      transform: translateX(0); 
      opacity: 1; 
    }
  }
#ban1{
    object-fit: contain;
    width: 50%;
    height: 40vh;
    border: solid 1px transparent ;
    /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
    border-radius: 10%;
    background-color: white;
    
}

#ban2{
    object-fit: cover;
    width: 50%;
    height: 40vh;
    border: solid 1px transparent ;
    /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
    border-radius: 10%;

}

.items{
    width: 100%;
    display: flex;

}
.fruits{
    width: 50%;
    margin-left: 5%;

}
.but{
    background-color: yellow;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 65px;
    border-radius: 30px; 
    display: flex;
    font-size: 15px;
     
    
}
.icon1{
    margin-right: 35%;
    align-items: center;
    
}
.icon2{
    margin-left: 35%;
    align-items: center;
}
.icon3{
    margin-right: 35%;
    align-items: center;
}
.icon4{
    margin-left: 35%;
    align-items: center;
}

@media(max-width:900px){

.items{
    width: 100%;
    display: flex;
    margin-left: 15%;

}

.banana{
    display: flex;
    gap: 2rem;
    width: 70%;
    height: 30vh;
    border: solid 1px transparent ;
    background-color: white;
    border-radius: 5.5%;

    
}

#ban1{
    object-fit: contain;
    width: 40%;
    height: 30vh;
    border: solid 1px transparent ;
    /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
    border-radius: 10%;
    background-color: white;
}

#ban2{
    object-fit: cover;
    width: 50%;
    height: 20vh;
    border: solid 1px transparent ;
    /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
    border-radius: 10%;

}


.cabbage{
    display: flex;
    gap: 2rem;
    width: 70%;
    height: 30vh;
    border: solid 1px transparent ;
    background-color: white;
    border-radius: 5%;
     margin-top: 6%; 
}
.partimg{
    border: solid 1px white;
    width: 20%;
    height: 10vh;
    /* padding: 10px 2px 5px; */
    background-color: white;
    border-radius: 30px;
    margin-left: 8%;  
}

.but{
    background-color: yellow;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 65px;
    /* border-radius: 30px; */
    width: 20%;
    height: 5vh;
}

.payment h1{
    margin-left: 10%;
    color:wheat;
    margin-left: -40%;
}
.payment h2{
    /* font-weight: 100px; */
    font-size: 30px;
    color:whitesmoke;
    margin-left: -60%;
    
    
}
.partimg{
    object-fit: cover;
    border: solid 1px white;
    width: 60%;
    height: 10vh;
    background-color: white;
    border-radius: 30px;
    margin-left: -45%;  
}
.but2{
    background-color: white;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: -45%;

    animation-name: slideInLeft; 
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
    
}

.orders{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    border: solid 1px white;
    width: 40%;
    height: 40vh;
    background-color: white;
    margin-left: 35%;
    border-radius: 10px;
    /* text-align: right; */
    
}
.orders .words{
    /* margin-right: 0%; */
    padding-top: 40px;
}
.orders .numbers{
    /* margin-left: 0%; */
    padding-top: 40px;
}

.add1{
    /* margin-left: 50%;  */
   margin-top: 5%;

}
.add2{
    margin-top: 5%;
  
}

}

@media(max-width:390px){

    .items{
        width: 100%;
        display: grid;
        /* margin-left: 15%; */
    
    }
    
    .banana{
        display: flex;
        gap: 2rem;
        width: 160%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5.5%;
    
        
    }
    
    #ban1{
        object-fit: contain;
        width: 40%;
        height: 30vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
        background-color: white;
    }
    
    #ban2{
        object-fit: cover;
        width: 50%;
        height: 15vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
    
    }
    
    
    .cabbage{
        display: flex;
        gap: 2rem;
        width: 160%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5%;
         /* margin-top: 6%;  */
    }
    .partimg{
        border: solid 1px white;
        width: 20%;
        height: 10vh;
        /* padding: 10px 2px 5px; */
        background-color: white;
        border-radius: 30px;
        margin-left: 8%;  
    }
    
    .but{
        background-color: yellow;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        font-size: 20px;
        border-radius: 30px; 
        width: 20%;
        height: 5vh;
        display: flex;
        margin-right: 15%;
        
    }

.icon1{
    margin-right: 30%;
    align-items: center;
    
}
.icon2{
    margin-left: 35%;
    align-items: center;
}
.icon3{
    margin-right: 35%;
    align-items: center;
}
.icon4{
    margin-left: 35%;
    align-items: center;
}

    
    .payment h1{
        margin-left: 10%;
        color:wheat;
        margin-left: 10%;
    }
    .payment h2{
        /* font-weight: 100px; */
        font-size: 20px;
        color:whitesmoke;
        margin-left: 2%;
        
        
    }
    .partimg{
        object-fit: cover;
        border: solid 1px white;
        width: 60%;
        height: 5.9vh;
        background-color: white;
        border-radius: 30px;
        margin-left: 10%;  
    }
    .but2{
        background-color: white;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 35px;
        border-radius: 30px;
        margin-top: 10%;
        margin-left: 10%;
    
        animation-name: slideInLeft; 
        animation-duration: 1s; 
        animation-fill-mode: forwards; 
        
    }
    
    .orders{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        border: solid 1px white;
        width: 70%;
        height: 40vh;
        background-color: white;
        margin-left: 25%;
        border-radius: 10px;
        /* text-align: right; */
        
    }
    .orders .words{
        /* margin-right: 0%; */
        padding-top: 40px;
    }
    .orders .numbers{
        /* margin-left: 0%; */
        padding-top: 40px;
    }
    
    .add1{
        /* margin-left: 50%;  */
       margin-top: 5%;
    
    }
    .add2{
        margin-top: 5%;
      
    }
    
    }


@media(max-width:700px){

    .items{
        width: 100%;
        display: grid;
        /* margin-left: 15%; */
    
    }
    
    .banana{
        display: flex;
        gap: 2rem;
        width: 160%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5.5%;
    
        
    }
    
    #ban1{
        object-fit: contain;
        width: 40%;
        height: 30vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
        background-color: white;
    }
    
    #ban2{
        object-fit: cover;
        width: 50%;
        height: 15vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
    
    }
    
    
    .cabbage{
        display: flex;
        gap: 2rem;
        width: 160%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5%;
         /* margin-top: 6%;  */
    }
    .partimg{
        border: solid 1px white;
        width: 20%;
        height: 10vh;
        /* padding: 10px 2px 5px; */
        background-color: white;
        border-radius: 30px;
        margin-left: 8%;  
    }
    
    .but{
        background-color: yellow;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        font-size: 20px;
        border-radius: 30px; 
        width: 20%;
        height: 5vh;
        display: flex;
        margin-right: 15%;
        
    }

.icon1{
    margin-right: 30%;
    align-items: center;
    
}
.icon2{
    margin-left: 35%;
    align-items: center;
}
.icon3{
    margin-right: 35%;
    align-items: center;
}
.icon4{
    margin-left: 35%;
    align-items: center;
}

    
    .payment h1{
        margin-left: 10%;
        color:wheat;
        margin-left: 10%;
    }
    .payment h2{
        /* font-weight: 100px; */
        font-size: 20px;
        color:whitesmoke;
        margin-left: 2%;
        
        
    }
    .partimg{
        object-fit: cover;
        border: solid 1px white;
        width: 60%;
        height: 5.9vh;
        background-color: white;
        border-radius: 30px;
        margin-left: 10%;  
    }
    .but2{
        background-color: white;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 35px;
        border-radius: 30px;
        margin-top: 10%;
        margin-left: 10%;
    
        animation-name: slideInLeft; 
        animation-duration: 1s; 
        animation-fill-mode: forwards; 
        
    }
    
    .orders{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        border: solid 1px white;
        width: 70%;
        height: 40vh;
        background-color: white;
        margin-left: 25%;
        border-radius: 10px;
        /* text-align: right; */
        
    }
    .orders .words{
        /* margin-right: 0%; */
        padding-top: 40px;
    }
    .orders .numbers{
        /* margin-left: 0%; */
        padding-top: 40px;
    }
    
    .add1{
        /* margin-left: 50%;  */
       margin-top: 5%;
    
    }
    .add2{
        margin-top: 5%;
      
    }
    
    }

    @media(max-width:800px){

        .items{
            width: 100%;
            display: flex;
            margin-left: 15%;
        
        }
        
        .banana{
            display: flex;
            gap: 2rem;
            width: 70%;
            height: 30vh;
            border: solid 1px transparent ;
            background-color: white;
            border-radius: 5.5%;
        
            
        }
        
        #ban1{
            object-fit: contain;
            width: 40%;
            height: 30vh;
            border: solid 1px transparent ;
            /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
            border-radius: 10%;
            background-color: white;
        }
        
        #ban2{
            object-fit: cover;
            width: 50%;
            height: 20vh;
            border: solid 1px transparent ;
            /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
            border-radius: 10%;
        
        }
        
        
        .cabbage{
            display: flex;
            gap: 2rem;
            width: 70%;
            height: 30vh;
            border: solid 1px transparent ;
            background-color: white;
            border-radius: 5%;
             margin-top: 6%; 
        }
        .partimg{
            border: solid 1px white;
            width: 20%;
            height: 10vh;
            /* padding: 10px 2px 5px; */
            background-color: white;
            border-radius: 30px;
            margin-left: 8%;  
        }
        
        .but{
            background-color: yellow;
            color: black;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 10px 65px;
            /* border-radius: 30px; */
            width: 20%;
            height: 5vh;
            margin-left: -30%;
        }
        
        .payment h1{
            margin-left: 10%;
            color:wheat;
            margin-left: -40%;
        }
        .payment h2{
            /* font-weight: 100px; */
            font-size: 30px;
            color:whitesmoke;
            margin-left: -60%;
            
            
        }
        .partimg{
            object-fit: cover;
            border: solid 1px white;
            width: 60%;
            height: 10vh;
            background-color: white;
            border-radius: 30px;
            margin-left: -45%;  
        }
        .but2{
            background-color: white;
            color: black;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 10px 35px;
            border-radius: 30px;
            margin-top: 10%;
            margin-left: -45%;
        
            animation-name: slideInLeft; 
            animation-duration: 1s; 
            animation-fill-mode: forwards; 
            
        }
        
        .orders{
            display: flex;
            justify-content: space-between;
            margin-top: 5%;
            border: solid 1px white;
            width: 40%;
            height: 40vh;
            background-color: white;
            margin-left: 35%;
            border-radius: 10px;
            /* text-align: right; */
            
        }
        .orders .words{
            /* margin-right: 0%; */
            padding-top: 40px;
        }
        .orders .numbers{
            /* margin-left: 0%; */
            padding-top: 40px;
        }
        
        .add1{
            /* margin-left: 50%;  */
           margin-top: 5%;
        
        }
        .add2{
            margin-top: 5%;
          
        }
        
        }


@media(max-width:650px){

    .items{
        width: 100%;
        display: grid;
        /* margin-left: 15%; */
    
    }
    
    .banana{
        display: flex;
        gap: 2rem;
        width: 160%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5.5%;
    
        
    }
    
    #ban1{
        object-fit: contain;
        width: 40%;
        height: 30vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
        background-color: white;
    }
    
    #ban2{
        object-fit: cover;
        width: 50%;
        height: 15vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
    
    }
    
    
    .cabbage{
        display: flex;
        gap: 2rem;
        width: 160%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5%;
         /* margin-top: 6%;  */
    }
    .partimg{
        border: solid 1px white;
        width: 20%;
        height: 10vh;
        /* padding: 10px 2px 5px; */
        background-color: white;
        border-radius: 30px;
        margin-left: 8%;  
    }
    
    .but{
        background-color: yellow;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        font-size: 20px;
        border-radius: 30px; 
        width: 20%;
        height: 5vh;
        display: flex;
        margin-right: 15%;
        
    }

.icon1{
    margin-right: 30%;
    align-items: center;
    
}
.icon2{
    margin-left: 35%;
    align-items: center;
}
.icon3{
    margin-right: 35%;
    align-items: center;
}
.icon4{
    margin-left: 35%;
    align-items: center;
}

    
    .payment h1{
        margin-left: 10%;
        color:wheat;
        margin-left: 10%;
    }
    .payment h2{
        /* font-weight: 100px; */
        font-size: 20px;
        color:whitesmoke;
        margin-left: 2%;
        
        
    }
    .partimg{
        object-fit: cover;
        border: solid 1px white;
        width: 60%;
        height: 5.9vh;
        background-color: white;
        border-radius: 30px;
        margin-left: 10%;  
    }
    .but2{
        background-color: white;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 35px;
        border-radius: 30px;
        margin-top: 10%;
        margin-left: 10%;
    
        animation-name: slideInLeft; 
        animation-duration: 1s; 
        animation-fill-mode: forwards; 
        
    }
    
    .orders{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        border: solid 1px white;
        width: 70%;
        height: 40vh;
        background-color: white;
        margin-left: 25%;
        border-radius: 10px;
        /* text-align: right; */
        
    }
    .orders .words{
        /* margin-right: 0%; */
        padding-top: 40px;
    }
    .orders .numbers{
        /* margin-left: 0%; */
        padding-top: 40px;
    }
    
    .add1{
        /* margin-left: 50%;  */
       margin-top: 5%;
    
    }
    .add2{
        margin-top: 5%;
      
    }
    
    }

        
@media(max-width:1024px){

    .items{
        width: 100%;
        display: flex;
        margin-left: 15%;
    
    }
    
    .banana{
        display: flex;
        gap: 2rem;
        width: 70%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5.5%;
    
        
    }
    
    #ban1{
        object-fit: contain;
        width: 40%;
        height: 30vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
        background-color: white;
    }
    
    #ban2{
        object-fit: cover;
        width: 50%;
        height: 20vh;
        border: solid 1px transparent ;
        /* background: linear-gradient(to right, rgb(141, 196, 141), rgb(15, 93, 15)); */
        border-radius: 10%;
    
    }
    
    
    .cabbage{
        display: flex;
        gap: 2rem;
        width: 70%;
        height: 30vh;
        border: solid 1px transparent ;
        background-color: white;
        border-radius: 5%;
         margin-top: 6%; 
    }
    .partimg{
        border: solid 1px white;
        width: 20%;
        height: 10vh;
        /* padding: 10px 2px 5px; */
        background-color: white;
        border-radius: 30px;
        margin-left: 8%;  
    }
    
    .but{
        background-color: yellow;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 65px;
        /* border-radius: 30px; */
        width: 20%;
        height: 5vh;
    }
    
    .payment h1{
        margin-left: 10%;
        color:wheat;
        margin-left: -40%;
    }
    .payment h2{
        /* font-weight: 100px; */
        font-size: 30px;
        color:whitesmoke;
        margin-left: -60%;
        
        
    }
    .partimg{
        object-fit: cover;
        border: solid 1px white;
        width: 60%;
        height: 10vh;
        background-color: white;
        border-radius: 30px;
        margin-left: -45%;  
    }
    .but2{
        background-color: white;
        color: black;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 35px;
        border-radius: 30px;
        margin-top: 10%;
        margin-left: -45%;
    
        animation-name: slideInLeft; 
        animation-duration: 1s; 
        animation-fill-mode: forwards; 
        
    }
    
    .orders{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        border: solid 1px white;
        width: 40%;
        height: 40vh;
        background-color: white;
        margin-left: 35%;
        border-radius: 10px;
        /* text-align: right; */
        
    }
    .orders .words{
        /* margin-right: 0%; */
        padding-top: 40px;
    }
    .orders .numbers{
        /* margin-left: 0%; */
        padding-top: 40px;
    }
    
    .add1{
        /* margin-left: 50%;  */
       margin-top: 5%;
    
    }
    .add2{
        margin-top: 5%;
      
    }
    
    }
    